[Unit]
Description=Polkit authenticator
Documentation=https://wiki.archlinux.org/polkit
After=display-manager.service

[Service]
ExecStart=/usr/lib/mate-polkit/polkit-mate-authentication-agent-1
Restart=always

[Install]
WantedBy=default.target
