* {
    font-size: 14px;
    font-family: 'UbuntuSans Nerd Font', 'Noto Sans', sans-serif;
}

window {
    margin: 0px;
    padding: 0px;
    opacity: 0.9;
    border: 3px solid #70ccdb;
    background-color: rgba(22, 50, 53, 0.9);
    border-radius: 10px 10px 10px 10px;
}

#input {
    margin: 2px;
    border: none;
    color: #163235;
    background-color: #a5ffff;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #163235;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: #163235;
}

#text {
    margin: 5px;
    border: none;
    color: #a5ffff;
}

#entry:selected {
    background-color: #05908d;
    border-radius: 6px;
}

list {
    background-color: #05908d;
    border-radius: 6px;
}
