* {
    font-size: 14px;
    font-family: 'UbuntuSans Nerd Font', 'Noto Sans', sans-serif;
}

window {
    margin: 0px;
    padding: 0px;
    border: 3px solid #3d7a87;
    background-color: #163235;
    border-radius: 10px 10px 10px 10px;
}

#input {
    margin: 2px;
    border: none;
    color: #163235;
    background-color: #7db8b8;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #163235;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: #163235;
}

#text {
    margin: 5px;
    border: none;
    color: #7db8b8;
}

#entry:selected {
    background-color: #1e6360;
    border-radius: 6px;
}

list {
    background-color: #1e6360;
    border-radius: 6px;
}
