/* ::root{ */
/*     --accent: #5291e2; */
/*     --dark: #383C4A; */
/*     --light: #7C818C; */
/*     --ld: #404552; */
/*     --dl: #4B5162 */
/*     --white: white; */
/* } */

*{
    font-size: 13px;
    font-family: San Francisco Display, Noto Sans, sans-serif;
}

window {
    background-color: #282828;
}

#input {
    margin-right: 1px;
    margin-left: 1px;
    border-radius: 0px;
    border: none;
    background-color: #282828;
    color: white;
}

#inner-box {
    background-color: #282828;

}

#outer-box {
    margin-right: 1px;
    margin-left: 1px;
    background-color: #282828;
}

#scroll {
}

#text {
padding: 1px;
color: white;
}

#entry {
	padding-left: 20px;
	padding-right: 20px;
}

#entry:nth-child(even){
    background-color: #504945;
}

#entry:selected {
    background-color: #98971a;
}

#text:selected {
	font-weight: bold;
	color: #ebdbb2
}
