[Unit]
Description=Sync lines
Documentation=https://rclone.org
After=network.target

[Service]
Type=oneshot
ExecStart=/home/manuel/.local/bin/sync-lines.sh
RemainAfterExit=true
ExecStop=/home/manuel/.local/bin/sync-lines.sh
StandardOutput=journal

[Install]
WantedBy=default.target
