Xcursor.theme:Paper
rofi.terminal: termite

! ===================
!       urxvt
! ===================

URxvt*scrollBar:	    false
URxvt*letterSpace:  	-1
URxvt.internalBorder: 10
URxvt*font: 		      xft:SauceCodePro Nerd Font Mono:style=Medium:size=12:antialias=true
URxvt*boldFont:		    xft:SauceCodePro Nerd Font Mono:style=Medium:size=12:antialias=true
URxvt*cursorBlink:    true
URxvt.iso14755:		    false
URxvt*utf8:			      true
URxvt.keysym.C-equal:      resize-font:bigger
URxvt.keysym.C-parenright: resize-font:smaller

! =================
!       Xft
! =================
Xft.dpi:          	96
Xft.antialias:     	true
Xft.rgba:			      subpixel
Xft.hinting:       	true
Xft.hintstyle:		  hintslight
! Xft.lcdfilter:	  lcddefault

URxvt.depth: 32
URxvt.transparent: false
URxvt.fading: 0
URxvt.loginShell: true
URxvt.saveLines: 20000
URxvt.internalBorder: 3
URxvt.lineSpace: 0

URxvt*background: #101010
*foreground: #CCCCCC
URxvt*color0: #101010
URxvt*color1: #960050
URxvt*color2: #66aa11
URxvt*color3: #c47f2c
URxvt*color4: #30309b
URxvt*color5: #7e40a5
URxvt*color6: #3579a8
URxvt*color7: #9999aa
URxvt*color8: #303030
URxvt*color9: #ff0090
URxvt*color10: #80ff00
URxvt*color11: #ffba68
URxvt*color12: #5f5fee
URxvt*color13: #bb88dd
URxvt*color14: #4eb4fa
URxvt*color15: #d0d0d0
