Xcursor.theme: Breeze-Adapta

URxvt.font: xft:DejaVu Sans Mono for Powerline:style=Regular:size=12
URxvt*boldFont: xft:DejaVu Sans Mono for Powerline:style=Bold:size=12
URxvt.scrollBar: false
URxvt*termName:         rxvt
URxvt*background:           #000000
URxvt*foreground:           #666699
URxvt*cursorColor:          #6699CC
URxvt*colorBD:              #CCCCFF

!Visiblue
URxvt*color0:               #333366
URxvt*color8:               #333399

URxvt*color1:               #6666CC
URxvt*color9:               #9999FF

URxvt*color2:               #0099CC
URxvt*color10:              #00CCFF

URxvt*color3:               #3366CC
URxvt*color11:              #6699FF

URxvt*color4:               #006699
URxvt*color12:              #0099CC

URxvt*color5:               #0066FF
URxvt*color13:              #0099FF

URxvt*color6:               #669999
URxvt*color14:              #66CCCC

URxvt*color7:               #99CCCC
URxvt*color15:              #CCFFFF
