[Desktop Entry]
Name=Tailscale Systray
Comment=Start Tailscale systray icon
Exec=tailscale systray
Icon=tailscale
Terminal=false
Type=Application
Categories=Network;Utility;
