/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
  70% {
    color: white;
  }

  to {
    color: white;
    background-color: orange;
  }
}

@keyframes blink-critical {
  70% {
    color: white;
  }

  to {
    color: white;
    background-color: red;
  }
}

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
  padding-left: 4px;
  padding-right: 4px;
}

/* The whole bar */
#waybar {
  background: #282828;
  color: white;
  font-family: San Francisco Display, San Francisco Mono, Noto Sans, sans-serif;
  font-size: 14px;
}

/* Each module */
#battery,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#pulseaudio,
#temperature,
#disk,
#tray {
  /* No styles */
}

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#battery {
  color: #fabd27;
  /* border-bottom: 2px solid #fabd27; */
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.warning {
  color: #fe8019;
  /* border-bottom: 2px solid #fe8019; */
}

#battery.critical {
  color: #fb4934;
  /* border-bottom: 2px solid #fb4934; */
  font-weight: bold;
}

#battery.warning.discharging {
  animation-name: blink-warning;
  animation-duration: 3s;
}

#battery.critical.discharging {
  animation-name: blink-critical;
  animation-duration: 2s;
}

#clock {
  color: #ebdbb2;
  background-color: #282828;
}

#cpu {
  /* border-bottom: 2px solid #8ec07c; */
}

#cpu.warning {
  color: orange;
}

#cpu.critical {
  color: red;
}

#memory {
  /* border-bottom: 2px solid #83a598; */
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#memory.warning {
  color: orange;
}

#memory.critical {
  color: red;
  animation-name: blink-critical;
  animation-duration: 2s;
}

#mode {
  background: #64727d;
  border-top: 2px solid white;
  /* To compensate for the top border and still have vertical centering */
  padding-bottom: 2px;
}

#network {
  /* border-bottom: 2px solid #fabd2f; */
}

#network.disconnected {
  color: orange;
}

#pulseaudio {
  /* No styles */
}

#pulseaudio.muted {
  /* No styles */
}

#custom-spotify {
  color: rgb(102, 220, 105);
}

#temperature {
  color: #98971a;
  /* border-bottom: 2px solid #98971a; */
}

#temperature.critical {
  background-color: #cc241d;
  /* border-bottom: 2px solid #cc241d; */
  color: #ebdbb2;
  font-weight: bold;
}

#tray {
  /* No styles */
}

#window {
  /* No styles */
}

#workspaces {
  /* No styles */
}

#workspaces button {
  border-bottom: 2px solid transparent;
  /* To compensate for the top border and still have vertical centering */
  color: #888888;
}

#workspaces button:hover {
  background-color: #98971a;
  color: #3c3836;
}

#workspaces button.focused {
  border-color: #98971a;
  color: #ebdbb2;
  font-weight: bold;
}
#workspaces button.focused:hover {
  background-color: #98971a;
}

#workspaces button.urgent {
  border-color: #c9545d;
  color: #c9545d;
}
