[Unit]
Description=Polkit authenticator
Documentation=https://wiki.archlinux.org/polkit
After=polkit.service

[Service]
Type=simple
ExecStart=/usr/lib/mate-polkit/polkit-mate-authentication-agent-1
RestartSec=15
Restart=always

[Install]
WantedBy=default.target
