[Unit]
Description=Polkit authenticator
Documentation=https://wiki.archlinux.org/index.php/Power_management
After=display-manager.service

[Service]
ExecStart=/usr/bin/mate-power-manager
Restart=always

[Install]
WantedBy=default.target
