[Unit]
Description=Shells update
Documentation=Update non repo shell tools
Wants=update-shells.timer

[Service]
ExecStart=/usr/bin/env bash %h/.local/bin/shells_update.sh
Type=oneshot
